@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400&display=swap'); 
*{
  font-family: 'Montserrat',sans-serif;
} 
.navbar{
  height: 80px;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin-top:2rem;
}
.carousel-caption-custom{
  bottom:180px;
}

.categoriesSearch{
  display: grid;
  place-items: center ;
  margin:2rem 0;
}

.dflex{
  display: flex;
}
.hidden{
  display: none;
}
